.features {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding: 0 9px 0 11px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 14px;
  }
}

.features__list {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features__item {
  position: relative;

  width: 47.4%;
  min-height: 299px;
  margin-left: 1.3%;
  margin-right: 1.3%;
  margin-bottom: 30px;
  padding: 96px 42px 49px 42px;
  box-sizing: border-box;

  border: 1px solid $grey-light-border;
  border-left: 3px solid $blue;

  @media (max-width: $tablet-max-width) {
    width: 46%;
    min-height: 306px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 65px 19px 12px 26px;

    border-left: 2px solid $blue;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    min-height: 310px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 71px 14px 12px 27px;
  }
}

.features__item--min {
  @media (max-width: $tablet-max-width) {
    min-height: 232px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 24px;
  }
}

.features__item:nth-child(2) {
  @media (max-width: $mobile-max-width) {
    padding-right: 11px;
  }
}

.features__item h3 {
  margin: 0;
  margin-bottom: 15px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.features__item p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;

  color: $grey-dark;
}

.features__item svg {
  position: absolute;
  top: 40px;
  left: 40px;

  fill: $blue;

  @media (max-width: $tablet-max-width) {
    top: 24px;
    left: 27px;
  }
}

//Стайлгайд
.features__item:hover {
  background-color: $blue;
}

.features__item:hover svg {
  fill: $white;
}


.features__item:hover h3,
.features__item:hover p {
  color: $white;
}
