.page-header {
  min-height: 878px;

  background-color: $black;
  background-image: url("../img/page-header-background-desktop.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/page-header-background-desktop@2x.png");
  }

  @media (max-width: $tablet-max-width) {
    min-height: 686px;

    background-image: url("../img/page-header-background-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/page-header-background-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-max-width) {
    min-height: 647px;

    background-image: url("../img/page-header-background-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/page-header-background-mobile@2x.png");
    }
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1491px;
  margin: 0 auto;
  padding: 33px 40px 0 40px;

  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 20px 25px 0 25px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 17px 17px 0 17px;
    align-items: start;
  }
}

.page-header__logo {
  width: 202px;
  height: 52px;
  cursor: none;

  @media (max-width: $mobile-max-width) {
    width: 38px;
    height: 38px;
  }
}

.page-header__logo img {
  width: 202px;
  height: 52px;

  @media (max-width: $mobile-max-width) {
    width: 38px;
    height: 38px;
  }
}

.page-header__wrapper-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 661px;

  @media (max-width: $tablet-max-width) {
    width: 86px;
  }

  @media (max-width: $mobile-max-width) {
    width: 77px;
  }
}

.page-header__links-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 428px;

  @media (max-width: $tablet-max-width) {
    width: 87px;
  }

  @media (max-width: $mobile-max-width) {
    width: 77px;
    margin-top: 3px;
  }
}

.page-header__link {
  width: auto;
  margin-bottom: 1px;
  margin-top: 1px;

  color: $white;

  @media (max-width: $tablet-max-width) {
    margin-left: 5px;
  }
}


.page-header__link span {
  font-size: 16px;
  line-height: 18px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__link--email span {
  padding-left: 11px;
}

.page-header__link--phone span {
  padding-left: 7px;
}

.page-header__link--email svg {
  fill: $blue;
  width: 19px;
  height: 14px;

  @media (max-width: $tablet-max-width) {
    width: 25px;
    height: 19px;
  }
}

.page-header__link--phone svg {
  fill: $blue;
  width: 18px;
  height: 18px;

  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 24px;
  }
}

.page-header__button {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding: 14px 13px 14px 12px;
  box-sizing: border-box;


  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  border: 1px solid $white;
  border-radius: 5px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__button--nojs {
  display: none;
}

//Стайлгайд

.page-header__button:hover {
  color: $blue;
  border: 1px solid $blue;
}

.page-header__button:focus {
  outline: 2px solid $grey-dark;
}

.page-header__button:active {
  outline: none;
  opacity: 0.5;
}

.page-header__link:hover span {
  color: $blue;
}

.page-header__link:hover svg {
  fill: $white;
}

.page-header__link:focus {
  outline: 2px solid $grey-dark;
}

.page-header__link:active {
  outline: none;
  opacity: 0.5;
}
