.page-main__wrapper-features-about-company {
  width: 100%;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 3px;
  box-sizing: border-box;

  background-image: url("../img/background-about-company-features-desktop.svg");
  background-repeat: no-repeat;
  background-position: center -27px;
  background-size: 2350px 1347px;


  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding-top: 54px;
    padding-bottom: 0;

    background-image: url("../img/background-about-company-features-tablet.svg");
    background-repeat: no-repeat;
    background-position: 255px 90px;
    background-size: 770px 873px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 37px;

    background-position: 17% 76%;
  }
}
