//Colors
$white: #ffffff;
$black: #1b2d37;
$blue: #00b2ff;
$grey-dark: #666666;
$grey-ligth: #cdcdcd;
$grey-sign: #c4c4c4;
$grey-light-border: #ebebeb;
$grey-dark-border:#626962;
$red:#ff0000;


// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
